<div class="wrapper">
  <div class="cart-container">
    <div class="cart-info">
      <div class="cart-weather-icon">
        <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
      </div>
      <div class="cart-weather-info">
        <div class="cart-weather-city">Amsterdam</div>
        <div class="cart-weather-state">Clear / clear sky</div>
        <div class="cart-weather-condition">
          <div class="temperature">21<span>&deg;</span></div>
          <div class="wind-info">
            <span class="title">wind</span>
            <span class="condition">w 16 km/hr</span>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="cart-show-hourly">-->
<!--      <app-button class="show-hourly-weather-btn"></app-button>-->
<!--    </div>-->


    <div class="cart-hourly-weather-wrapper">
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
      <div class="cart-hourly-weather">
        <div class="cart-hourly-weather-time">now</div>
        <div class="cart-hourly-weather-wind">w 16 km/hr</div>
        <div class="cart-hourly-weather-icon">
          <svg-icon src="assets/icons/sunny-day.svg"></svg-icon>
        </div>
        <div class="cart-hourly-weather-temperature">21<span>&deg;</span></div>
      </div>
    </div>






  </div>
</div>
