//COLORS
$background-color: #f1faee;
$main-color: #A8DADC;
$secondary-color: #1D3557;
$white: #FFFFFF;

// FONTS
$font-primary: 'Open Sans', sans-serif;

// Breakpoints
$laptop: 1024px;
$tablet: 767px;
$mobile: 425px;
